<footer class="footer">
	<div class="main-holder">
		
		<div class="top-footer">
			<div class="footer-info">
				<div class="footer-info-box">
					<div class="icon-box">
						<span class="icon icon-support"></span>
					</div>
					<div class="text-box mobile-hide">
						Whiteboard, Suite 401, Level 4, 221 Queen Street,  Melbourne, VICTORIA 3000, AUSTRALIA
					</div>
					<div class="text-box mobile-show">
						Suite 401, Level 4,  <br>
						221 Queen Street, <br>
						Melbourne VIC 3000
					</div>
				</div>

				<div class="footer-info-box">
					<div class="icon-box">
						<span class="icon icon-support"></span>
					</div>
					<div class="text-box contacts">
						<p>
							<span class="mobile-show">Support Ph:</span>
							<a href="tel:61390349090"><span class="mobile-hide tel">TEL:</span> +61 3 9034 9090</a>
						</p>
						<p>
							<span class="mobile-show">Email:</span>
							<a href="mailto:support@whiteboard.clinic"> support@whiteboard.clinic</a>
						</p>
					</div>
				</div>
			</div>
			<div class="footer-links">
				<div class="footer-socials">
					<ul>
						<li>
							<a href="#"><span class="icon-facebook"></span> Facebook</a>
						</li>
						<li>
							<a href="#"><span class="icon-twitter"></span> Twitter</a>
						</li>
						<li>
							<a href="#"><span class="icon-linkedin"></span> Linkedin</a>
						</li>
					</ul>
				</div>
				<div class="footer-navigation">
					<ul class="navigation">
						<li>
							<a href="#">About Us</a>
						</li>
						<li>
							<a href="#">Our Solution</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
						<li>
							<a href="#">Terms &amp; Conditions</a>
						</li>
						<li>
							<a href="#">Licence Agreement</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			&copy; Whiteboard Pty Ltd. All Rights Reserved. Website by <a href="#">Yoke</a>.
		</div>
	</div>
</footer>