<!-- Header -->
<header class="header">
	<div class="main-holder header-holder">


		<!-- Burger Menu -->
		<div class="burger-menu">
			<div class="line-1"></div>
			<div class="line-2"></div>
			<div class="line-3"></div>
		</div>
		<!-- END Burger Menu -->

		<!-- Question Icon Mobile -->
		<div class="question-icon-mobile">
			<a href="#">
				<span class="icon icon-edit"></span>
			</a>
		</div>
		<!-- END Question Icon Mobile -->
		
		<!-- Logo -->
		<div class="logo">
			<a href="index.html">
				<img src="img/whiteboard-logo-blue.png" alt="">
			</a>
		</div>
		<!-- END Logo -->

		<!-- Nav Register Holder -->
		<div class="navigations-register-holder">

			<!-- Navigation -->
			<ul class="navigation">
				<li>
					<a href="about-us.html">About</a>
				</li>
				<li>
					<a href="contacts.html">Contact</a>
				</li>
				<li>
					<a href="#">Login</a>
				</li>
			</ul>
			<!-- END Navigation -->

			<!-- Register -->
			<div class="header-register">
				<a class="btn btn-xxs btn-yellow" href="#">Register</a>
			</div>
			<!-- END Register -->

			<!-- Navigation Bottom Mobile -->
			<ul class="navigation-bottom-mobile">
				<li>
					<a href="about-us.html">Terms &amp; Conditions</a>
				</li>
				<li>
					<a href="contacts.html">Licence Agreement</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
			</ul>
			<!-- END Navigation Bottom Mobile -->

			<!-- Socials Mobile -->
			<ul class="header-socials-mobile">
				<li>
					<a href="#">
						<span class="icon-facebook"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-twitter"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-linkedin"></span>
					</a>
				</li>
			</ul>
			<!-- END Socials Mobile -->

		</div>
		<!-- END Nav Register Holder -->

	</div>
</header>
<!-- END Header -->